<%- include("header") %>

<div class="form-container">
    <form action="/edit-submit" method="post">
        <input type="hidden" name="index" value="<%= locals.index %>">
        <div class="textarea-container">
            <textarea name="postTitle"><%= locals.postTitle %></textarea>
            <textarea name="postText"><%= locals.postText %></textarea>
        </div>
        <input type="submit" value="Save Changes">
    </form>
</div>

<%- include("footer") %>