<%- include("header") %>

<form action="/submit" method="post">
    <textarea name="postTitle" placeholder="Give your post a title"></textarea>
    <textarea name="postText" placeholder="Share your thoughts here!"></textarea>
    <input type="submit" value="Submit">
</form>

<% if (locals.postArray) { %>
    <% postArray.forEach((post, index) => { %> 
        <div>
            <%=post %>
            <form action="/edit" method="post">
                <input type="hidden" name="index" value="<%= index%>">
                <input type="submit" value="Edit">
            </form>
            <form action="/delete" method="post">
                <input type="hidden" name="index" value="<%= index%>">
                <input type="submit" value="Delete">
            </form>
        </div>
    <% }) %>
<% } %>


<%- include("footer") %>