<%- include("header") %>

<div class = "form-container">
    <form action="/submit" method="post">
        <div class = "textarea-container">
            <textarea name="postTitle" placeholder="Give your post a title"></textarea>
            <textarea name="postText" placeholder="Share your thoughts here!"></textarea>
        </div>
        <input type="submit" value="Submit">
    </form>
</div>


<% if (locals.postArray) { %>
    <% postArray.forEach((post, index) => { %> 
        <div class = "post-view-container">
            <h2><%= post.title %></h2>
            <p> <%= post.text %></p>
            <div class = "post-action-container">
                <form action="/edit" method="post">
                    <input type="hidden" name="index" value="<%= index %>">
                    <input type="submit" value="Edit">
                </form>
                <form action="/delete" method="post">
                    <input type="hidden" name="index" value="<%= index %>">
                    <input type="submit" value="Delete">
                </form>
            </div>
        </div>
    <% }) %>
<% } %>


<%- include("footer") %>